@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Global Styles */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: linear-gradient(to right, rgba(218, 191, 230, 0.888) 50%, rgb(237, 237, 244) 50%);
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .profile-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    transition: transform 0.3s ease;
  }
  
  .profile-img img:hover {
    transform: scale(1.1);
  }
  
  #download-pdf {
    display: block;
    width: 200px;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin: auto;
  }
  
  #download-pdf:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
    .profile-img img {
      width: 120px;
      height: 120px;
    }
  }
  
  p {
    margin-left: 30px;
    padding: 5px;
  }
  
  #education-list {
    margin-left: 20px;
    padding: 15px;
  }
  #experience-list {
    margin-left: 20px;
    padding: 15px;
  }

  #linkedin-url {
    text-align: center;
  }
